/* Genel Sayfa Stili */
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
    color: #3a2c1a;
    margin: 0;
    padding: 0;
}

/* Başlık */
h1 {
    background-color: #ff7e5f;
    padding: 15px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
}

/* Buton */
button {
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #e63946, #ff9a5f);
    color: white;
    border-radius: 30px;
    margin: 20px;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #ff6a3d, #ff9a5f);
}

/* Fotoğraf Kutusu */
#tilkiContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Tilki Fotoğrafı */
img {
    max-width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}

/* Bilgi Kutusu */
#bilgiKutu {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Bilgi Görseli */
#bilgiResim {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
